@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,240;1,240&display=swap');

:root{
    --primary: #F1EFE7;
    --foreground: #FDDC38;
    --background:#000000;
    --secondary:#FDFFBB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
}

::-webkit-scrollbar{
    display: none;
}

html{
    font-family: "Noto Sans", sans-serif;
    font-size: 62.5%; /*define a fonte para 10px no rem */
}

body{
    background-color: var(--primary);
    color: var(--background);
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 1200px; /*largura maxima */
    margin: auto; /*centraliza o conteudo */
}

.title{
    font-weight: bold;
    font-size: 36px;
    margin-left: 200px;
    margin-top: 3.2rem;
}

.borda{
    border: 3.5px solid var(--background);
    margin-left: 195px;
    margin-right: 195px;
}

@media (max-width: 768px) {
    .borda{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 30px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .title{
        text-align: center;
        margin-left: 0px;
    }

    .borda{
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 30px;
    }
}