@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');
.titulo2{
    padding-top: 5%;
}

.secao4 {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.secao4-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.secao4-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 4 - 60px);
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px var(--foreground);
    border-radius: 20px;
    background-color: var(--foreground);
    transition: all 0.5s ease;
}

.secao4-div-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.secao4-div-card img {
    width: 50%;
    height: auto;
}

.secao4-div-card p {
    padding-top: 10px;
    margin-bottom: 0px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--background);
    font-size: 1.3rem;
    max-width: 90%;
}

.secao4-div-card h3 {
    padding-top: 10px;
    color: var(--background);
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.8rem;
    max-width: 90%;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .secao4-div-card {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .secao4-div-card {
        width: 80%;
    }
    .titulo2{
        font-size: 4rem;
    }
    .secao4-div-card p {
        font-size: 2rem;
    }
    .secao4-div-card h3 {
        font-size: 2.5rem;
    }
}